@media (max-width: 576px) {
    .overlay {

        width: 100%;

    }
    .right_layer {
display: none;
    }

    .left_sidebar {
        display: none;

        width: 35%;
        justify-content: start;
        align-items: start;
        background: linear-gradient(180deg, #FAFAFA 53.62%, rgba(250, 250, 250, 0) 73.15%);
    }

    .right_content {

        width: 100%;

    }

    .leftform {

        padding: 2px 1px;
    }

    .mainh2 h2{
        width: 100%;
        margin: 0;

    }
    .card-img  {
        display: flex;

        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;


    }
    .card-img a {
        display: flex;
width: 100%;

padding: 0;
        height: 350px;



    }
    .rating-block {
        position: absolute;
        top: 280px;
        margin: 25px 30px 25px 0;
        display: flex;
        align-items: center;

    }
    .rating-content{
        position: relative;
    }

    .card-img img {
        display: block;
width: 100%;

        height: auto;



    }
    .card-opis {
        display: flex;
flex-wrap: wrap;
        width: 100%;
    }
    .card_tags {
display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .card2 {
        width: 100%;
        display:flex;
        flex-wrap: wrap;
        position: relative;
    }
    .card-block {

        width: 100%;
        padding: 0;
        margin: 0;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

    }

    .card_head h4 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-weight:   600;
        font-size:      18px;
        padding: 0;
        margin: 5px 2px 5px 0;
        color:          #253854;
    }
    .ratingbutn {
        position: relative;
        right: 5px;
    }

    .background {
        margin: 10px auto;

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: start;

        background: radial-gradient(3619.75px at 116.38% -286.3%, #4451BA 0%, #0D1163 100%);
    }
    footer ul{
        margin: 0;
        display: block;

    text-align: center;

        list-style: none;
        color: rgba(255, 255, 255, 0.8)

    }

    footer ul:before {
        font-size: 0.7em;
        color: rgba(255, 255, 255, 0.35);
        content:  '\25A0';
        display: block;
        pointer-events: none;
        margin: 15px auto;

    }
    .footer-divider {
        display: none;
    }
    .footerlogo {
    margin: 0 auto;
    }

    .copyright {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

    }
    .copyright p {
margin: 0;


    }

    .owl-carousel {
        position: absolute;
        left: 0;
        margin-right: 0;
        width: 120%!important;

    }


    .background2 {
        display: flex;

        width: 40%;

        height: 100%;


        justify-content: start;
        align-items:end;


        background: radial-gradient(2125.04px at 141.67% -16.31%, #4451BA 0%, #0D1163 100%);
    }
    .background3 {
        display:flex;
        width: 60%;
        margin: 0;

    }
}

@media (min-width: 576px) {

}

@media (min-width: 992px) {

}
@media (min-width: 768px) {

}

@media (min-width: 1200px) {

}