body  {
    padding: 0;
    margin: 0;
    font-family: Rubik-Regular, sans-serif;
}

html {

}

.header_wrap {




}

.main {
padding-bottom: 50px;
}
.container {
    position: relative;
    overflow: hidden;
    height: 100vh;
}


.overlay {

    background-image: url("../img/layer.jpg");
    background-position: center center;
    width: 70%;
    height: 100%;

    padding: 0;
    margin: 0;
    float: left;
    background-size: cover;
}

.right_layer {
    padding: 0;
    margin: 0;
    width: 30%;
    height: 100%;
    display: inline-block;
    background: radial-gradient(1300.91px at 96.01% -27.5%, #4451BA 0%, #0D1163 100%);
}

.navbar {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.header_content {
display: flex;
    width: 100%;
    text-align: left;
    margin-left: 95px;
    align-items: start;
    height: 100%;
}
.dividermore {
    display: inline-block;
    width: 40%;
    height: 1px;
    background: url("../Line9.svg") no-repeat center;
    background-size: cover;
}

.loadmore{
    display: block;
    width: 100%;
    text-align: center;

}
.loadmore a {
    display: block;
    font-size: 12px;
    line-height: normal;
text-decoration: none;
    margin: 0 auto;
    color: rgba(68, 81, 186, 0.3);
}

.header_right_content {
    display: flex;

    width: 100%;
    justify-content: center;
}

.head_item_top H2 {
    font-style: normal;
    font-weight: bold;
    font-size: 66px;
    line-height: 80px;
    padding: 19px 0 60px 0;
    margin: 0;
    text-transform: uppercase;

    color: #FFFFFF;

    text-shadow: 0px 5px 25px rgba(0, 0, 0, 0.15);


}

.head_item_bot {

    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 40px 95px;


}
.left_item {
    display: flex;
    flex: 1 2 auto;
    align-items: center;

}

.left_item p {
    padding-right: 90px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    color: #FFFFFF;
}

.right_item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #FFFFFF;
    padding: 30px 72px;

}

.right_item p {


    font-size: 14px;

    margin-right: 30px;
    color: #4451BA;

}

.half {
    display: flex;
    flex: 1 2 auto;
    justify-content: start;
}

.col1 {
    display: flex;
    justify-content: stretch;
    width: 100%;

}
.mainh2 {
    position: relative;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

}
.mainh2 h2{
    width: 100%;
    margin: 100px 100px 40px 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: start;
    font-size: 36px;
    line-height: normal;

    color: #253854;
}

.main_content{
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.left_sidebar {
    display: inline-flex;
    width: 35%;
    justify-content: start;
    align-items: start;
    background: linear-gradient(180deg, #FAFAFA 53.62%, rgba(250, 250, 250, 0) 73.15%);
}

.right_content {

    display: inline-flex;
    width: 55%;

    justify-content: start;
}
.right_content2 {

    display: block;
    width: 100%;

}

.logo {
    display: inline-block;
    float: left;
    margin: 34px 65px 0 95px;
}

.navleft {
    display: flex;
    padding: 0;
    margin: 32px 0;
    float:left;
    list-style: none;
    font-weight: 500;
    font-size: 14px;
    line-height: normal;
}

.navleft li {
    margin: 0 25px;
}
.navleft li a{
    color: #ffffff;
    text-decoration: none;
}

.search_ico {
    display: block;
    width: 15px;
    height: 15px;
    background: url("../searchico.svg") no-repeat center;
    background-size: cover;
}

.vector {
    display: inline-block;
    margin: 0 10px;
    width: 10px;
    height: 10px;
    background-image: url("../Vector1.svg");
    background-position: 100% 100%;
}

.pop_up {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: normal;
    text-decoration-line: underline;

    color: rgba(255, 255, 255, 0.4);
}

.navright {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 0;
    margin: 37px 95px 0;
    list-style: none;
    font-size:19px;
    color:white;

}

.navright li {
    justify-content: space-between;
    margin: 10px;
}
.head_item_top
{
    margin-top: 150px;
    display: block;
    vertical-align: middle;


}
.head_list {
    display: block;

    width: 100%;
    list-style: none;
    color: #ffffff;
}
.head_list li p {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    color: #ffffff;
}

.head_list h4{
    font-weight: bold;
    font-size: 36px;
    line-height: normal;
    text-align: center;

    margin: 0;
    color: #FFFFFF;
}

.head_list p {
    font-size: 12px;
    line-height: normal;
    text-align: center;
    padding: 0;
    color: rgba(255, 255, 255, 0.8);
}

.head_divider {
    display: flex;
    margin: 25px 0 0;
    width: 35px;
    height: 1px;
    justify-content: center;
    background: url("../Line.svg")no-repeat center;
    background-size: cover;
}

.search_divider {
    display: inline-block;
    margin: 0 90px 0 0;
    width: 1px;
    height: 16px;
    background-image: url("../Line (1).svg");
}

.right_sort {

    margin: 0;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-bottom: 41px;

}
.right_sort p {

    font-style:  normal;
    font-weight: 500;
    font-size:   12px;
    line-height: normal;
    color:       #253854;
    padding-right: 35px;
}

.right_sort option {
    font-size: 12px;
    line-height: normal;
    color: #4451BA;
}

.card-block {

    width: 100%;
    padding-left: 100px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.card {
    display:none;
    width: 100%;

}
.card2 {
    display:flex;
    position: relative;
 }
.carddivider{
    display: flex;
    position: absolute;
    bottom: 0;
    width: 90%;
    height: 1px;
    margin: 15px auto;
    justify-content: center;
    background: url("../Line8.svg") no-repeat center;
    background-size: cover;
}
.card-img {
    width: 170px;
    height: 180px;
display: flex;
    margin: 0 30px 30px 0;
}

.card_head h4 {
    font-weight:   600;
    font-size:      18px;
    padding: 0;
    margin: 5px 120px 5px 0;
    color:          #253854;
}
.card_tags {

}
.tagul {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    font-size: 12px;
    line-height: normal;
    height: auto;
    color: #253854;
    margin-right: 65px;
}

.tagul span{

    background-color: rgba(37,56,84, 0.05);
    border-radius: 2px;
    margin: 10px 25px 0 0;
    padding: 7px;

}
.tagul span a{
    text-decoration: none;
    color: #253854;
}
.rating-block {
    position: relative;
    margin: 25px 30px 25px 0;
    display: flex;
    align-items: center;

}
.ratingbutn {
    position: absolute;
    right: 65px;
}
.starb {
    padding: 0;
    margin: 0;
}
.rating-content .starb span{
    font-weight: bold;
    font-size: 21px;
    line-height: normal;
    padding-bottom: 5px;
    color: #253854;
}

.rating-content p {
    font-size: 12px;
    line-height: normal;
    color: #253854;
    padding: 0;
    margin: 0;
}

.rating-content span {
    font-size: 12px;

    color: #c1c3c6;
}

.star_ico_big {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    background: url("../Star.svg") no-repeat center;
    background-size: cover;
}

.more {
    display: flex;
    width: 100%;
    justify-content: center;
}

.container2 {
    position: relative;
    overflow: hidden;
    padding-top: 15px;
    height: 540px;
    width: 100%;
    margin-bottom: 60px;
    background: #ffffff;
}

.background {
    margin-top: 150px;

    display: flex;
    justify-content: space-around;
    align-items: start;
    background: radial-gradient(3619.75px at 116.38% -286.3%, #4451BA 0%, #0D1163 100%);
}

.copyright {
    display: flex;
    justify-content: space-between;

}
.copyright a {
    font-weight: normal;
    font-size: 10px;
    line-height: normal;
    text-decoration: none;
    margin: 95px;
    color: rgba(68, 81, 186, 0.35);

}

.footer-divider {
    display: inline-block;
    width: 1px;
    margin-top: 20px;
    height: 160px;
    margin-left: 35px;
    background: url("../Line10.svg") no-repeat center;
    background-size: cover;
}

.background2 {
display: block;
position: absolute;
    width: 40%;
right: 0;
    top: 0;
    height: 100%;


    justify-content: start;
    align-items:end;


    background: radial-gradient(2125.04px at 141.67% -16.31%, #4451BA 0%, #0D1163 100%);
}
.ful_wid {
    width:200px;
}
.background3 {
display:flex;

    margin: 0 120px 0 ;

}
.background3 h3 {
    display: block;
    font-weight: bold;
    font-size: 36px;
    line-height: 41px;

    color: #253854;

}

.background4 {
display: block;
    position: absolute;
    bottom: 0;


}

.btngroup {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

.btngroup p {
    margin-right: 95px;
    font-size: 14px;
    line-height: normal;

    color: #4451BA;
}

.caritem h4 {
    font-size: 18px;
    line-height: normal;

    color: #4451BA
}

.starico p {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    line-height: normal;

    color: #253854
}
.starico span {
    font-size: 12px;

    color: #c1c3c6;
}
.caritem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;

}
.caritem2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;

}
.starico2 p {
    display: inline-block;
    font-size: 12px;

    color: #c1c3c6;
}
.caritem p {
    font-size: 14px;
    line-height: 20px;

    color: #253854
}
.popup-with-zoom-anim {
    font-size: 14px;
    line-height: normal;
    text-decoration-line: underline;

    color: rgba(255, 255, 255, 0.4);
}
footer {
    display: block;
    width: 100%;

}

footer ul{
    margin: 35px auto;
    display: inline-block;
    list-style: square outside;
    color: rgba(255, 255, 255, 0.8)

}
footer ul li {
margin: 0 10px 10px 10px;

}
footer ul a{
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: normal;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8)

}
.footerlogo {

    padding-top: 35px;
}
.leftform {
    display: block;
    width: 100%;
    padding: 220px 100px;
}


.leftform2 p {
    margin-left: 10px;
    font-weight: 600;
    font-size: 12px;
    line-height: normal;

    color: #4451BA;

}

.contetn_divider {
    display: flex;
    width: 90%;
    height: 1px;
    margin: 20px auto 25px;
    justify-content: center;
    background: url("../Line8.svg") no-repeat center;
    background-size: cover;
}

.smile {
    display: flex;
    width: 17px;
    height: 17px;
    justify-content: center;
    background: url("../002-happy.svg") no-repeat center;
    background-size: cover;
}